/* Your CSS goes here */
#main {
  text-align: center;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

#affdex_elements {
  position: relative;
  width: 100%;
  height: 390px;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}

video {
margin: 0 auto;
width: 300px;
/*margin: 100px 250px;*/
text-align: center;
/*position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%; -50%);*/
}
